body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.indexPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gold;
    width: 10%;
    padding: 1%;
    border-radius: 12px;
    border: 2px solid blue;
    margin-top: 1%;
    /* margin-left: 43.8%; */
}

.jeopardyImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 25%;
    margin-right: 25%; */
    width: 800px;
    height: auto;  
}