h1 {
    margin-right: 12.5%;
    margin-left: 12.5%;
}

.round2Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 19.5%;
    margin-right: 12.5%;
    margin-bottom: 1%;
    width: 60%;
    background-color: gold;
    justify-items: center;
    column-gap: 25px;
    row-gap: 25px;
    padding: 15px;
    border: 10px solid black;
}

.inputBar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
}

.guessPass {
    display: flex;
    margin-bottom: 1%;
    justify-content: center;
    gap: 70px;
}

.guess > button {
    background-color: gold;
    margin-right: 10%;
}

.pass > button {
    background-color: gold;
}

.scores {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.nextRound {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 14px 40px;
    background-color: gold;
}

.firstNextRound {
    display: flex;
    justify-content: center;
}