h1 {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: cornflowerblue;
    border: 1px solid #000;
}

h2 {
    display: flex;
    width: 60%;
    margin-right: 15%;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: cornflowerblue;
    border: 1px solid #000;
}

footer {
    display: flex;
    position: absolute;
    width: 75%;
    margin-right: 12.5%;
    margin-left: 12.5%;
    margin-top: 1%;
    bottom: 0;
    justify-content: space-between;
    align-items: flex-end;
    background-color: cornflowerblue;
    border: 1px solid #000;
}

